Options -MultiViews
RewriteEngine On

RewriteBase /licenta/public

#directory checking, executa urmatorul rewrite rule doar daca asta e true
RewriteCond #{REQUEST_FILENAME} !-d    

#file checking
RewriteCond #{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_URI} /api/
# $1 e primul parametru adica url-ul 

RewriteRule ^api/(.+)$ ../app/api/router.php [NC,L]
RewriteRule ^(.+)$ index.php?url=$1  [QSA,L]

#The RewriteRule basically means that if the request is done that matches ^(.+)$
#(matches any URL except the server root), it will be rewritten as index.php?url=$1 which means a request for olle will be rewritten as index.php?url=olle).

#QSA means that if there's a query string passed with the original URL, it will be appended to the rewrite (olle?p=1 will be rewritten as index.php?url=olle&p=1.

#L means if the rule matches, don't process any more RewriteRules below this one.